.App {
  background: rgb(30, 32, 41);
  text-align: center;
  min-height: 100vh;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-info-panel {
  display: flex;
  align-items: center;
}

.custom-button {
  border-radius: 15px !important;
  background-color: #a9a9a9bd !important;
  border: 2px solid cadetblue !important;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #5c636a !important;
}

.connect-button {
  min-height: 35px;
  min-width: 100px;
}

.info-button {
  height: 30px;
  cursor: pointer;
  margin-left: 25px;
}

.app-title {
  font-size: 30px;
  margin-left: 25px;
}

.wallet-panel {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  margin-top: 25px;
}

.header-target-network {
  font-size: 12px;
  margin: 0px;
  color: #e0d068
}

.main-panel {
  padding: 25px;
  width: 100%;
}

.card-column {
  background: #5f9ea054;
  padding: 20px;
  border: 2px solid cadetblue;
  border-radius: 30px;
}

.custom-card {
  background: rgb(30 32 41 / 50%) !important;
  border: 2px solid coral !important;
  border-radius: 10px !important;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.auction-info {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 10px 10px 0px 10px;
}

.auction-state {
  display: flex;
  align-self: center !important;
  align-items: center;
}

.auction-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 20px 0px 20px;
}

.circle-red {
  background: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.circle-green {
  background: green;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.App-link {
  color: #61dafb;
}

/*STYLE*/
.white-space-break-spaces {
  white-space: break-spaces;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}